#ignore files general
**/*.log
**/*.vagrant
*workspace.code-workspace
**/*.vdi

#security
**/authorized_keys
**/*.pub
**/*.ppk
**/*pk_centos
**/*private*

#Linux kernel
**/Kernel

#Apps
*.exe

#Bind
Vagrant/Bind/test/*
!Vagrant/Bind/test/.gitkeep
!Vagrant/Bind/test/check-bind-stack.txt
