default_bit = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = BR
stateOrProvinceName     = Sao Paulo
localityName            = Sao Paulo 
organizationName        = LPIC2 Inc.
commonName              = debian-http-client
emailAddress			= admin@lpic2.com.br