# unnamed section of generic options
default_md = md5

# default section for "req" command options
[req]
input_password     = vagrant
prompt             = yes
distinguished_name = my_req_dn_prompt

[my_req_dn_prompt]

# Minimum of 4 bytes are needed for common name
commonName         = Common Name
commonName_default = lpic2.com.br

# ISO2 country code only
countryName         = Country Name
countryName_default = BR

# State is optional, no minimum limit
stateOrProvinceName         = State
stateOrProvinceName_default = SP

# City is required
localityName         = City
localityName_default = Sao Paulo

# Organization is optional
organizationName         = Organization
organizationName_default = LPIC2 CA

# Organization Unit is optional
organizationalUnitName         = Department
organizationalUnitName_default = Devops

# Email is optional
emailAddress         = Email
emailAddress_default = ca@lpic2.com.br