authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.142
IP.2 = 192.168.0.144
IP.3 = 192.168.0.145
DNS.1 = ol9-apache-ha.lpic2.com.br
DNS.2 = debian-apache-node01.lpic2.com.br
DNS.3 = debian-apache-node02.lpic2.com.br