[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-cleaner2 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
clean-appgithub = "python clean_app-github.py"
clean-all = "python clean_all.py"