AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile "/etc/httpd/htpasswd/.htpasswd"
AuthGroupFile "/etc/httpd/htpasswd/.htgroup"
#Require valid-user
#Require user vagrant
Require group suport
